{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'hep_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'hep_app/css/main.css' %}">
</head>
<body>
    <br>
    <a href="{% url 'old_math_view' %}">View Previous Calculations</a>
    <br>
    <a href="{% url 'create_user_view' %}">New around here? Register to save your calculations</a>
    <br>
    <a href="{% url 'login_view' %}">Already a member? Login in to save your calculations</a>
    <br>
    <a href="{% url 'saved_calculate_view' %}">Use calculator that saves</a>
    <br>
    <a href="{% url 'calculate' %}">Use calculator with no memory</a>
    <br>
    <a href="{% url 'logout_view' %}">Logout</a>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>