{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'hep_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'hep_app/css/main.css' %}">
</head>
<body>
<h1>Get the computer to do some math for you</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Calculate">
    <h3>And the answer:</h3>
    <p> {{ one }} {{ math }} {{ two }} = {{ result }}</p>
</form>


</body>
</html>